*{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.2;
}
.dashboard{
    padding-top: 15px;
}
/*Table Style Override*/
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th,
.table-striped>tbody>tr>td, .table-striped>tbody>tr>th, .table-striped>tfoot>tr>td, .table-striped>tfoot>tr>th, .table-striped>thead>tr>td, .table-striped>thead>tr>th{
    padding: 15px 10px;
    vertical-align: middle;
    text-transform: capitalize;
    min-width: 150px;
    max-width: 300px;
    width: 100%;
}

.table-column, .compound-table-column, .table-header-column{
    color: #3c3c3c;
    border-bottom: 1px solid #ddd;
}

.table-column:not(:last-child), .compound-table-column:not(:last-child), .table-header-column:not(:last-child){
    border-right: 1px solid #ddd;
}

.compound-table-column .title-label{
    font-weight: 700;
    width: 100%;
    text-overflow: ellipsis;
}

.compound-table-column .detail-text-label{
    color: #666;
    font-size: 12px;
}

.table-header-column{
    color: #000;
    font-size: 12px;
}

.row-count-info{
    color: #aaa;
    font-weight: 400;
}
/* Searchbar */
.form-control{
    min-width: 400px;
}

/* Some overrides */
.navbar-right{
    margin-right: 0;
}

.filters .form-control{
    max-width: 400px;
    min-width: 100px;
}

.filters .col-md-4{
    width: 25%;
}

.pagination{
    margin: 0;
}