<div class="panel-heading clearfix">
  <div ng-class="columnClass">
    <h3>{{totalImageUsage}}</h3>
    <p>Total Image Usage</p>
  </div>
  <div ng-class="columnClass" ng-repeat="(key, value) in rawData">
    <h3>{{value.records.length}}</h3>
    <p>{{value.providerTitle}}</p>
  </div>
</div>
<div class="alert alert-warning" role="alert" ng-if="loading.data">
  Data is being loaded. Please be patient. We are sorry for the unnecessary delay.
</div>
<table class="table usage-overview-table">
  <thead>
  <tr>
    <th class="table-header-column">Client Name</th>
    <th class="table-header-column" ng-repeat="provider in providerKeys">{{provider}}</th>
    <th class="table-header-column">Total Usage</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="row in rows" ng-click="selectItem($index)" ng-class="{'item-selected': $index === selectedItemIndex}">
    <td class="table-column">
      {{row.organizationName}}
    </td>
    <td class="table-column" ng-repeat="provider in providerKeys">
      {{row[provider].length}}
    </td>
    <td class="table-column">
      {{row.length}}
    </td>
  </tr>
  </tbody>
</table>