<div class="panel panel-default" ng-controller="OverviewCtrl">
  <div class="panel-heading clearfix">
    <form>
      <div class="form-group overview-filter-pane">
        <div class="filters">
          <div class="row">
            <div class="col-md-4">
              <h6>Start Publish Date</h6>
              <input type="date" class="form-control" ng-model="startPublishDate" ng-required="true" close-text="Close" required="required" style="">

            </div>
            <div class="col-md-4">
              <h6>End Publish Date</h6>
              <input type="date" class="form-control" ng-model="endPublishDate" ng-required="true" close-text="Close" required="required" style="">
            </div>
          </div>
        </div>
      </div>
    </form>
    <div ng-class="columnClass" class="horizontal-column">
      <h3>{{totalImageUsage}}</h3>
      <p>Total Image Usage</p>
    </div>
    <div ng-class="columnClass" class="horizontal-column" ng-repeat="(key, value) in providerData.records">
      <h3>{{value.providerRecords.length}}</h3>
      <p>{{value.title}}</p>
    </div>
  </div>
  <div class="alert alert-warning" role="alert" ng-if="loading.data">
    Data is being loaded. Please be patient. We are sorry for the unnecessary delay.
  </div>
  <table class="table-striped usage-overview-table">
    <thead>
    <tr>
      <th class="table-header-column">Client Name</th>
      <th class="table-header-column">Getty Usage</th>
      <th class="table-header-column">Shutterstock Usage</th>
      <th class="table-header-column">Total Usage</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="table-column">
        Monsters UK.
      </td>
      <td class="table-column">
        22
      </td>
      <td class="table-column">
        30
      </td>
      <td class="table-column">
        52
      </td>
    </tr>
    </tbody>
  </table>
</div>