<div class="panel panel-default" ng-controller="OverviewCtrl">
  <div class="panel-heading clearfix">
    <div class="col-md-3">
      <h3>{{providerData.totalUsage}}</h3>
      <p>Total Usage</p>
    </div>
    <div class="col-md-3" ng-repeat="(key, value) in providerData.records">
      <h3>{{value.length}}</h3>
      <p>{{key}}</p>
    </div>
  </div>
  <div class="alert alert-warning" role="alert" ng-if="loading.data">
    Data is being loaded. Please be patient. We are sorry for the unnecessary delay.
  </div>
  <table class="table-striped usage-overview-table">
    <thead>
    <tr>
      <th class="table-header-column">Client Name</th>
      <th class="table-header-column">Getty Usage</th>
      <th class="table-header-column">Shutterstock Usage</th>
      <th class="table-header-column">Total Usage</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="table-column">
        Monsters UK.
      </td>
      <td class="table-column">
        22
      </td>
      <td class="table-column">
        30
      </td>
      <td class="table-column">
        52
      </td>
    </tr>
    </tbody>
  </table>
</div>