<table class="table-striped">
  <thead>
  <tr>
    <th ng-repeat="header in shutterStockHeaders" class="table-header-column">{{ header }}</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="row in filtered = (rows | filter:searchText | dateRangeFilter:'taskPublishDate':startPublishDate:endPublishDate | orderBy:'-taskPublishDate')">
    <td class="compound-table-column">
      <p class="title-label">{{ row.taskTitle }}</p>
    </td>
    <td class="compound-table-column">
      <p class="title-label">{{ row.organizationName }}</p>

      <p class="detail-text-label">{{ row.organizationID }}</p>
    </td>
    <td class="table-column">{{ row.taskPublishDate | date:'dd MMM, yyyy' }}</td>
    <td class="table-column">{{ row.channel }}</td>
    <td class="table-column">{{ row.NCImageGUID }}</td>
    <td class="table-column">{{ row.ShutterstockImageID }}</td>
    <td class="table-column">{{ row.licensedDate | date:'dd MMM, yyyy' }}</td>
  </tr>
  </tbody>
</table>